@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');
@font-face { font-family: 'Recipekorea'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'MapoDPPA'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); font-weight: normal; font-style: normal; }
#root,html, body {
    margin-top:0%;
    padding:0;
    height:100%;
    overflow: hidden;
}
.map_wrap,
.map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '바탕', sans-serif;
    font-size: 12px;
}

.map_wrap {
    position: relative;
    width:100%;
    height:50%;
}


#wrap_image {
    height: 50px;
    display: block;
    margin: 0px auto;
}

.placeinfo_wrap {
    position: absolute;
    bottom: 28px;
    left: -150px;
    width: 300px;
}

.placeinfo {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    background: #fff;
}

.placeinfo:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
    content: '';
    position: relative;
    margin-left: -12px;
    left: 50%;
    width: 22px;
    height: 12px;
    background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
    color: #fff;
    text-decoration: none;
}

.placeinfo a,
.placeinfo span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.placeinfo span {
    margin: 5px 5px 0 5px;
    cursor: default;
    font-size: 13px;
}

.placeinfo .title {
    font-family: 'GmarketSansMedium';
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 10px;
    color: #fff;
    background: #1b5ac2;
    background: #1b5ac2 url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png) no-repeat right 14px center;
}
.placeinfo .body{
    margin-left:5px;
}
.placeinfo .address {
    margin-top:5px;
    font-family: 'GmarketSansMedium';
}
.placeinfo .tel {
    font-family: 'GmarketSansMedium';
    color: #0f7833;
    margin-bottom: 5px;
}

.placeinfo .jibun {
    font-family: 'GmarketSansMedium';
    color: #999;
    font-size: 12px;
    margin-top: 0;
    padding-left:26px;
    background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;
}
.placeinfo .url{
    margin-top: 5px;
    font-family: 'GmarketSansMedium';
    color: #5085BB;
    font-size: 12px;

}
.placeinfo .url:hover{
    font-weight: bold;

}
.ui-content{
    z-index: 1;
    position: absolute;
    top:100px;
    background-color: #000000;
}
.refresh {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 10%;
    width: 10%;
    border-radius: 7px;
    border: 2px solid #909090;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    z-index: 2;
    cursor: pointer;
}
#refresh_img {
    height: 100%;
    width: 100%;
}
.refresh.on {
    background: #eee;
}

.refresh:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}

#search {
    position: absolute;
    top: 70px;
    right: 10px;
    border-radius: 7px;
    border: 2px solid #909090;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
    z-index: 2;
    cursor: pointer;
}

#search.on {
    background: #eee;
}

#search:hover {
    background: #ffe6e6;
    border-left: 1px solid #acacac;
    margin-left: -1px;
}

#search_2 {
    display: "none";
}

.search-form {
    display: "none";
}

#search_wrap {
    display: none;
}

/*검색폼*/
input:-ms-input-placeholder {
    color: #a8a8a8;
}

input::-webkit-input-placeholder {
    color: #a8a8a8;
}

input::-moz-placeholder {
    color: #a8a8a8;
}

.search_form {
    position: absolute;
    top:-12%;
    right:18px;
    height: 9%;
    width: 50%;
    border: 2px solid #1b5ac2;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    background: #ffffff;
    z-index: 1;
}

#search_input {
    position: relative;
    font-family: "MapoDPPA";
    font-size: 10px;
    top:-0.831%;
    width: 70%;
    padding: 7px;
    border: 0px;
    text-align: left;
    outline: none;
    float: left;
}

#search_button {
    width: 35px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
    cursor: pointer;
    font-family: "MapoDPPA";
    font-size:12px;
}
.scrollbar {
    margin-left: 10px;
    float: right;
    height: 50%;
    width: 100%;
    background: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 0px;
    }

.scrollbar-primary::-webkit-scrollbar {
    width: 10px;
    height: 1px;
    background-color: #F5F5F5; }
    
.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #4285F4; }
    
.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
    }

    #menu_wrap {position: relative;width:100%;overflow-y:auto;background:#ffffff;z-index: 1; padding-bottom: 30%;}
    #menu_wrap hr {display: block; border-top: 0px solid #5F5F5F;margin:0px 0;}
    #placesList li {list-style: none;}
    #placesList .item {font-family: 'GmarketSansMedium'; left:-50px;padding:5px;position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px; left:0px;}
    #placesList .item:hover{font-weight: bold;}
    #placesList .item span {display: block;margin-top:4px;}
    #placesList .item .info .title, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap; font-size: 14px;}
    #plcaesList .item .info h5:hover{font-weight: bold;}
    #placesList .item .info{font-size:10px;padding:0px 0 0px 0px;}
    #placesList .info .gray {color:#8a8a8a;}
    #placesList .info .finding_path {position: relative; float:right; bottom:65px; height:50px; width:50px; display: block; border: 10px;
        margin: 5% 10px -15% 10%;
        
        border-radius: 15px;
        /* border: 0px solid #909090; */
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
        background: #fff;
        z-index: 1;
        cursor: pointer;}
    #placesList .info .finding_path2 {position: relative; float:right; bottom:70px; height:50px; width:50px; display: block; border: 10px;
            margin: 12px 25% -20% 10%; 
            
            border-radius: 15px;
            /* border: 0px solid #909090; */
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            background: #fff;
            z-index: 1;
            cursor: pointer;}
    #placesList .info .insta_search {position: relative; float:right; bottom:65px ; height:50px; width:50px; float:right; display: block;
        margin: 5% 5% -15% 10px;
        border-radius: 15px;
        /* border: 2px solid #909090; */
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
        background: #fff;
        z-index: 1;
        cursor: pointer;}
        #placesList .info .insta_search2 {position: relative; float:right; bottom:70px; height:50px; width:50px; display: block; border: 10px;
            margin: 12px 5% -20% 100px; 
            
            border-radius: 15px;
            /* border: 0px solid #909090; */
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
            background: #fff;
            z-index: 1;
            cursor: pointer;}
    #placesList .info .jibun {padding-left:26px;background:url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat; }
    #placesList .info .tel {color:#009900;}
    #pagination {margin-top:10px;text-align: center;margin-bottom:50px;}
    #pagination a {display:inline-block;margin-right:10px; font-size: 20px;}
    #pagination .on {font-weight: bold; cursor: default;color:#777; font-size: 20px;}

    .idle_event {
        font-family: 'GmarketSansMedium';
        display:none;
        position: absolute;
        top: 10%;
        left:30%;
        z-index: 1;
        font-size: 18px;

    }
    .navbar{
        margin: 0px auto;   
    }
    .img {
        margin-right: 5px;
        width:60px;
        height:35px;
        float:right;
    }
    .placeinfo .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .placeinfo .close:hover {cursor: pointer;}

    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
