<footer class="page-footer {{ site.footer-color }}">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">About</h5>
          <p class="grey-text text-lighten-4">
              "{{ site.description }}"
          </p>
        </div>

        <div class="col l4 s12 right">
          <h5 class="white-text">Connect</h5>
          <ul>
            {% if site.github_username %}
            <li><a href="https://github.com/{{ site.github_username }}" class="white-text text-lighten-3 btn waves-effect waves-light {{ site.footer-button-color }} lighten-3"><i class="mdi mdi-github-circle"></i></a></li>
            {% endif %}
            {% if site.facebook_username %}
            <li><a href="https://facebook.com/{{ site.facebook_username }}" class="white-text text-lighten-3 btn waves-effect waves-light {{ site.footer-button-color }} lighten-3"><i class="mdi mdi-facebook"></i></a></li>
            {% endif %}
            {% if site.instagram_username %}
            <li><a href="https://instagram.com/{{ site.instagram_username }}" class="white-text text-lighten-3 btn waves-effect waves-light {{ site.footer-button-color }} lighten-3"><i class="mdi mdi-instagram"></i></a></li>
            {% endif %}
          </ul>
        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Copyright © {{ site.author }}
        <a class="btn waves-effect waves-light {{ site.footer-button-color }} lighten-1 right white-text" href="{{ '/about' | prepend: site.baseurl }}" >Contact me</a>
      </div>
    </div>
  </footer>

